name: Tests

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'


jobs:
  tests:
    runs-on: ${{ matrix.os }}
    if: ${{ !contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]') }}
    strategy:
      matrix:
        python-version: [ "3.8", "3.9", "3.10" ]
        os: [ ubuntu-20.04, windows-latest, macos-latest ] # On 2023/07/04, pytest completely stalls on ubuntu-latest, except with Python 3.10

    steps:
      - uses: actions/checkout@v4

      - name: Install poetry
        run: pipx install poetry==1.3.2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'poetry'

      - name: Activate environment and install dependencies
        run: |
          poetry env use ${{ matrix.python-version }}
          poetry install

      - name: Check with Black
        run: |
          # Fails if Black format is not respected
          poetry run black --check .
        shell: bash

      - name: Unit tests
        run: |
          poetry run pytest src
          poetry run coverage xml  # for sending coverage report
        shell: bash

      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@v1
        if: ${{ runner.os == 'Linux' && matrix.python-version == '3.9' }} # This action runs only on Linux
        with:
          project-token: ${{ secrets.codacy }}
          coverage-reports: coverage.xml

      - name: Publish code coverage on Codecov
        uses: codecov/codecov-action@v4
        if: ${{ runner.os == 'Windows' && matrix.python-version == '3.9' }} # Using Windows for covering XFOIL calls
        with:
          #          flags: unittests  # optional
          name: codecov-FAST-OAD-CS25  # optional
          fail_ci_if_error: false  # optional (default = false)
        env:
          CODECOV_TOKEN: 96682349-afc0-4b88-8ab5-5aa10d8d0d84

      - name: Integration tests
        run: poetry run pytest --no-cov tests/integration_tests
        shell: bash

      - name: Notebook tests
        if: ${{ github.event_name == 'pull_request' || contains(github.event.head_commit.message, '[test nb]') || github.ref == 'refs/heads/main' }}
        run: poetry run pytest --no-cov --nbval-lax -p no:python src/fastoad_cs25/notebooks
        shell: bash
